body {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  background-color: $light-gray;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

*{
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
