// Colors
$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

// Spaces
$card-max-width: 320px;
$card-rad: 20px;
$image-cont-rad: 10px;
$card-padding: 16px;
$card-padding-bottom: 40px;
